.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.lives{
    background-color: #ff00e1;
    opacity: 0.3;
    visibility: visible !important;
}

.welcome{
    padding: 42px 65px;
    background-color: #1C2225;
    color: gainsboro;
}
.content, #game-over{
    background-color: #121618;
    position: fixed;
    height: 100%;
    width: 100%;
}

#game-over{
    z-index: 5000000;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.welcome .inner{
    padding: 20px;
    text-align: center;
}

.hidden{
    display: none !important;
}

.controls{
    position: absolute;
    bottom: 30px !important;
    right: 30px;
    z-index: 50000;
}

.form-control{
    margin-bottom: 10px;
}
.dimmed{
    opacity: 0.3 !important;
}
.controls .btn{
    color: #1C2225;
}

.settings .advanced-st{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #333;
}


#load-adv{
    clear: both;
}

#ninjas, #four-clover{
    position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 500000;
}


.ninja .kenny.lives{
    background-image: url(Kenny-ninja.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-color: transparent;
}

.ninja .cartman.lives{
    background-image: url(cartman-ninja.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-color: transparent;
}

.ninja .butters.lives{
    background-image: url(Ninja-butters.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-color: transparent;
}

.ninja .clyde.lives{
    background-image: url(ninja-clyde.png);
    background-repeat:no-repeat;
    background-size: contain;
    background-color: transparent;
}

#game-over img{
    display: none;
}
.ninja #game-over img{
    display: inline-block;
}

.ninja h1.absolute-center{
    padding-top: 270px !important;
    color: #fafafa;
    opacity: 0.5;
}

#game-over h1.absolute-center{
    padding-top: 0;
}
